.main{
    background-color:#efebeb;
   height:75%;
    width:50%;
 }

.mx-2{
    border: 2px solid black;
    border-radius: 10px;
    color:antiquewhite;
    background-color: black;
   
}

 .bg-image{

    height:100%;
    width: 100%;
 }

